
# PlanAhead Generated IO constraints 

NET "BLUE" IOSTANDARD = SDIO;
NET "CLOCK" IOSTANDARD = SDIO;
NET "GREEN" IOSTANDARD = SDIO;
NET "HACK" IOSTANDARD = SDIO;
NET "RED" IOSTANDARD = SDIO;
NET "HSYNC" IOSTANDARD = SDIO;
NET "RESET" IOSTANDARD = SDIO;
NET "S" IOSTANDARD = SDIO;
NET "SEND_CLEAR" IOSTANDARD = SDIO;
NET "VSYNC" IOSTANDARD = SDIO;
NET "W" IOSTANDARD = SDIO;
NET "Char_L1" IOSTANDARD = SDIO;
NET "Char_Okay" IOSTANDARD = SDIO;
NET "tx" IOSTANDARD = SDIO;
NET "Rx" IOSTANDARD = SDIO;
NET "Buzzer" IOSTANDARD = SDIO;
NET "Char_sent" IOSTANDARD = SDIO;
NET "RESET" IOSTANDARD = SDIO;
NET "Reset_1" IOSTANDARD = SDIO;

NET "Led[7]" IOSTANDARD = SDIO;
NET "Led[6]" IOSTANDARD = SDIO;
NET "Led[5]" IOSTANDARD = SDIO;
NET "Led[4]" IOSTANDARD = SDIO;
NET "Led[3]" IOSTANDARD = SDIO;
NET "Led[2]" IOSTANDARD = SDIO;
NET "Led[1]" IOSTANDARD = SDIO;
NET "Led[0]" IOSTANDARD = SDIO;
# PlanAhead Generated physical constraints 

NET "BLUE" LOC = P9;
NET "CLOCK" LOC = P123;
NET "GREEN" LOC = P7;
NET "RED" LOC = P5;
NET "HSYNC" LOC = P14;
NET "VSYNC" LOC = P16;
NET "RESET" LOC = P66;

NET "Char_L1" LOC = P48;
NET "Char_Okay" LOC = P45;
NET "tx" LOC = P98;
NET "Rx" LOC = P97;
NET "Buzzer" LOC = P83;
NET "Char_sent" LOC = P47;

NET "Led[7]" LOC = P67;
NET "Led[6]" LOC = P74;
NET "Led[5]" LOC = P75;
NET "Led[4]" LOC = P78;
NET "Led[3]" LOC = P79;
NET "Led[2]" LOC = P80;
NET "Led[1]" LOC = P81;
NET "Led[0]" LOC = P82;

NET "RESET" LOC = P56;
NET "Reset_1" LOC = P57;



